@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

* {
  font-family: "Nunito", sans-serif;
  color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  border-radius: 10px;
  border: 1px solid black;
}

.container-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-align: center;
  background: #fafafa;
  margin-top: 90px;
  border: 1px solid rgb(156, 156, 156);
  width: 550px;
  height: 250px;
}

button {
  background-color: rgb(102, 248, 102);
  border: none;
  width: 80px;
  text-align: center;
  height: 40px;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
}

button a {
  text-decoration: none;
}

button:hover {
  background-color: rgb(73, 252, 73);
  width: 100px;
  height: 50px;
  transition: 0.8s ease;
}
