@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

* {
    font-family: "Nunito", sans-serif;
    color: black;
}

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    background: #FAFAFA;
    margin-top: 90px;
    border: 1px solid rgb(156, 156, 156);
    width: 550px;
    height: 250px;
}
