@media (max-width: 768px) {

    /* Aqui é sobre o page.js */

    .container-tasks {
        width: 300px;
        height: 120px;
        justify-content: space-around;
    }

    .text-task {
        width: 100px;
        font-size: 1.1rem;
        margin-left: 20px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .info {
        display: flex;
        justify-content: space-between;
        padding: 0px 20px 0px 20px;
    }

    .counter-text {
        margin-top: 58px;
    }

    .info-text {
        width: 25%;
        line-height: normal;
        padding-bottom: 20px;
    }

    button {
        margin-top: 30px;
        height: 90px;
        width: 90%;
        font-size: 1.2rem;
    }

    img.edit {
        margin-top: 5px;
        width: 2rem;
        height: 2rem;
    }


    /* A partir daqui é o Editor e o Creator */

    .titleInput {
        top: -25px;
        color: #292929;
    }

    .inputEditable {
        padding: 20px 60px;
        margin-right: 0px;
        font-size: 20px;
        margin-top: 200px;
    }

    .creator-nav {
        display: none;
    }

    .editor-nav {
        display: none;
    }

    .backTo h1 {
        width: 40%;
        font-size: 1.3rem;
    }

    .backTo img {
        margin-top: 10px;
        width: 25px;
        height: 25px;
    }

    .container-editor {
        margin-top: 70px;
    }

    .container-creator {
        margin-top: 70px;
    }

    .creatorbutton,
    .editorButton{
        margin-top: 170px;
    }
}