@media (max-width: 768px) {
    .container-tasks {
        width: 250px;
        height: 70px;
        margin-bottom: 40px;
        line-height: normal;
    }

    .text-task {
        color: #292929;
        font-weight: 700;
        font-size: 1rem;
    }

    img.edit {
        width: 40px;
        height: 40px;
    }

    .caixaCheck input[type="checkbox"] {
        transform: scale(1.8);
    }

    button {
        height: 90px;
        width: 38%;
        font-size: 1rem;
    }

}